.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.25rem;
  row-gap: 1.5rem;
}

.category-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 25px;
}